[package]
name = "rust-pad-mod-history"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
serde.workspace = true
bincode.workspace = true
redb.workspace = true
tracing.workspace = true

[dev-dependencies]
tempfile.workspace = true
